<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO STATION FOUND!</title>
</head>
<body>
    <h1 style="color: #982B1C"> NO STATIONS FOUND! 😰 </h1>
    <p>It looks like you are in the middle of nowhere, you need to get closer to civilization 🤣</p>
    <img src={{ url_for('static', filename='images/nowhere.jpg') }} alt="now what?" width="300"> <!---wanting to make our website fun-->
    <a href="/">Back to Home</a>
</body>
</html>